

<div class="container">
<div class="row">
@Html.Sitecore().Placeholder("left container")
<!-- col-md-8 -->

@Html.Sitecore().Placeholder("right container")
<!-- col-md-4 -->

</div>
<!-- row -->

</div>
<!-- container -->
